<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-menu-button defaultHref="/films"></ion-menu-button>
</ion-buttons>

    <ion-title>Filmovi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Da bismo prikazali onoliko elemenata koliko mi imamo u nizu koristimo ngFor -->
    <!--Ovaj deo [film]="film" je onaj gde smo u koristili @Input()
    odnosno prosledjujemo citat od parent ka child komponenti kroz properti bajning tj uglaste zagrade-->

  <ion-list> 
    <app-film-element *ngFor="let film of films" [film]="film" [routerLink]="film.id"></app-film-element>
  </ion-list>

  <ion-buttons class = "ionic-justify-content-center">

    <ion-button routerLink="/zanrovi" color="tertiary" fill="solid">
      Zanrovi
    </ion-button>

    
    <ion-button (click)="openManu()" color="tertiary" fill="solid">
      Zanrovi
    </ion-button>


  </ion-buttons>
</ion-content>
